{{ define "encrypt-decrypt/hill.html" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "globals/head-tag.html" .}}
		<link href="/assets/css/index.css" rel="stylesheet">
	</head>
	<body class="bg-dark">
        {{ template "globals/navbar.html" .}}
		<div class="container">
			<div class="row">
				<div class="col col-s-6 border border-secondary-subtle me-2 ms-2 mt-3 mb-3">
					<h2 class="text-light text-center">Input</h2>
					<form action="/hill">
						<div class="mb-3">
							<label class="form-label text-light">Input Text Type</label>
							<div class="row">
								<div class="col text-center">
									<input type="radio" class="btn-check" name="type" id="typed-radio" autocomplete="off" checked value="0">
									<label class="btn btn-outline-light" for="typed-radio" style="width: 100%;">Typed</label>
								</div>
								<div class="col text-center">
									<input type="radio" class="btn-check" name="type" id="file-radio" autocomplete="off" value="1">
									<label class="btn btn-outline-light" for="file-radio" style="width: 100%;">File</label>
								</div>
							</div>
						</div>
						<div class="mb-3"  id="typed-input-div">
							<label for="typed-input-area" class="form-label text-light" id="input-text-label">Input Text</label>
							<textarea class="form-control" id="typed-input-area" rows="10" style="resize:none;" name="input_text"></textarea>
						</div>
						<div class="input-group mb-3 visually-hidden" id="file-input-div">
							<input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="File" name="file">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea2" class="form-label text-light">Key</label>
							<textarea class="form-control" id="exampleFormControlTextarea2" rows="5" cols="5" style="resize:none;" name="key"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea3" class="form-label text-light">M</label>
							<input type="number" class="form-control" id="exampleFormControlTextarea3" name="m" placeholder="Matrix (key) size should be m x m"/>
						</div>
						<input type="hidden" name="encrypt" value="1">
						<button type="button" class="btn btn-outline-info mb-3" id="encrypt-button">Encrypt
							<span id="encrypt-spinner" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-outline-light mb-3" id="decrypt-button">Decrypt
							<span id="decrypt-spinner" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
						</button>
					</form>
				</div>
				<div class="col col-s-6 border border-secondary-subtle ms-2 me-2 mt-3 mb-3">
					<h2 class="text-ligh t text-center">Output</h2>
					<form>
						<label class="form-label text-light">Output Text Format</label>
						<div class="row">
							<div class="col text-center">
								<input type="radio" class="btn-check" name="format" id="no-space-radio" autocomplete="off" checked>
								<label class="btn btn-outline-light" for="no-space-radio" style="width: 100%;">No Space</label>
							</div>
							<div class="col text-center">
								<input type="radio" class="btn-check" name="format" id="5-letter-radio" autocomplete="off">
								<label class="btn btn-outline-light" for="5-letter-radio" style="width: 100%;">5-Letter Blocks</label>
							</div>
						</div>
						<div class="mb-3">
							<label for="result-area" class="form-label text-light">Output Text</label>
							<textarea id="result-area" readonly class="form-control" id="exampleFormControlTextarea1" rows="25" style="resize:none;"></textarea>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			let encrypt_button = document.getElementById("encrypt-button");
			let decrypt_button = document.getElementById("decrypt-button");
			let encrypt_spinner = document.getElementById("encrypt-spinner");
			let decrypt_spinner = document.getElementById("decrypt-spinner");
			let encrypt = document.querySelector("input[type='hidden'][name='encrypt']");
			let form = document.querySelector("form");
			let result_area = document.getElementById("result-area");
			let typed_radio = document.querySelector("input[type='radio'][id='typed-radio']");
			let file_radio = document.querySelector("input[type='radio'][id='file-radio']");
			let typed_input_div = document.getElementById("typed-input-div");
			let file_input_div = document.getElementById("file-input-div");
			let typed_input_area = document.getElementById("typed-input-area");
			let input_text_label = document.getElementById("input-text-label");
			let _5_letter_radio = document.getElementById("5-letter-radio");
			let no_space_radio = document.getElementById("no-space-radio");
			let file_type = false;
			// result_area.value = "\t\r\u0019\u0006\u0012\u0007\r\u0011";

			_5_letter_radio.addEventListener("click", async (e) =>{
				chunks = chunkString(result_area.value, 5);
				let newText = "";
				let l = chunks.length;
				chunks.forEach((element, idx) => {
					newText += element;
					if (idx < l - 1) {
						newText += " "
					}
				});
				result_area.value = newText;
			});
			
			no_space_radio.addEventListener("click", async (e) =>{
				result_area.value = result_area.value.replace(/\s+/g, '');;
			});
			
			typed_radio.addEventListener("click", async (e) =>{
				typed_input_area.classList.remove("visually-hidden");
				file_input_div.classList.add("visually-hidden");
				input_text_label.innerText = "Input Text";
				file_type = false;
			});
			
			file_radio.addEventListener("click", async (e) =>{
				typed_input_area.classList.add("visually-hidden");
				file_input_div.classList.remove("visually-hidden");
				input_text_label.innerText = "Input Text (choose or drag .txt file here)";
				file_type = true;
			});
			
			encrypt_button.addEventListener("click", async (e) =>{
				e.preventDefault();
				e.stopPropagation();
				encrypt.value = 1;
				encrypt_spinner.classList.remove("visually-hidden");
				decrypt_button.classList.add("disabled");
				encrypt_button.classList.add("disabled");
				await submitForm();
			});
			
			decrypt_button.addEventListener("click", async (e) =>{
				e.preventDefault();
				e.stopPropagation();
				encrypt.value = 0;
				decrypt_spinner.classList.remove("visually-hidden");
				encrypt_button.classList.add("disabled");
				decrypt_button.classList.add("disabled");
				await submitForm();
			});

			function chunkString(str, length) {
				return str.match(new RegExp('.{1,' + length + '}', 'g'));
			}

			async function submitForm() {
				const formData = new FormData(form);
				const data = new URLSearchParams();
				for (const pair of formData) {
					data.append(pair[0], pair[1]);
				}
				// var object = {};
				// formData.forEach((value, key) => object[key] = value);
				// var json = JSON.stringify(object);

				await fetch("/hill", {
					method: "POST",
					// headers: {
					// 	// 'Content-Type': file_type ? 'multipart/form-data; boundary="--XXX"' : 'application/json'
						// 'Content-Type': 'multipart/form-data'
					// },
					body: formData
				})
				.then(res => res.json())
				.then(res => {
					console.log(res);
					decrypt_spinner.classList.add("visually-hidden");
					encrypt_spinner.classList.add("visually-hidden");
					encrypt_button.classList.remove("disabled");
					decrypt_button.classList.remove("disabled");
					
					if (res.success) {
						no_space_radio.checked = true;
						result_area.value = res.result;
					} else {
						alert(`Encrypt or Decrypt failed. Error: ${res.message}`);
					}

				})
			}
		</script>
	</body>
</html>
{{ end }}