{{ define "encrypt-decrypt/hill.html" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		{{ template "globals/head-tag.html" .}}
		<link href="/assets/css/index.css" rel="stylesheet">
	</head>
	<body class="bg-dark">
        {{ template "globals/navbar.html" .}}
		<div class="container">
			<div class="row">
				<div class="col col-s-6 border border-secondary-subtle me-2 ms-2 mt-3 mb-3">
					<h2 class="text-light text-center">Input</h2>
					<form action="/hill">
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label text-light">Plaintext or Ciphertext</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="10" style="resize:none;" name="p_or_c_text"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label text-light">Key</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="5" style="resize:none;" name="key"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label text-light">M</label>
							<input type="number" class="form-control" id="exampleFormControlTextarea1" name="m" placeholder="Matrix (key) size should be m x m"/>
						</div>
						<input type="hidden" name="encrypt">
						<input type="hidden" name="plaintext_type" value="typed">
						<button type="button" class="btn btn-outline-info" id="encrypt-button">Encrypt
							<span id="encrypt-spinner" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-outline-light" id="decrypt-button">Decrypt
							<span id="decrypt-spinner" class="spinner-border spinner-border-sm visually-hidden" role="status" aria-hidden="true"></span>
						</button>
					</form>
				</div>
				<div class="col col-s-6 border border-secondary-subtle ms-2 me-2 mt-3 mb-3">
					<h2 class="text-light text-center">Output</h2>
					<form>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label text-light">Encrypted or Decrypted Result</label>
							<textarea id="result-area" readonly class="form-control" id="exampleFormControlTextarea1" rows="25" style="resize:none;"></textarea>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			let encrypt_button = document.getElementById("encrypt-button");
			let decrypt_button = document.getElementById("decrypt-button");
			let encrypt_spinner = document.getElementById("encrypt-spinner");
			let decrypt_spinner = document.getElementById("decrypt-spinner");
			let encrypt = document.querySelector("input[type='hidden'][name='encrypt']");
			let form = document.querySelector("form");
			let result_area = document.getElementById("result-area");
			// result_area.value = "\t\r\u0019\u0006\u0012\u0007\r\u0011";
			
			encrypt_button.addEventListener("click", async (e) =>{
				e.preventDefault();
				e.stopPropagation();
				encrypt.value = 1;
				encrypt_spinner.classList.remove("visually-hidden");
				decrypt_button.classList.add("disabled");
				encrypt_button.classList.add("disabled");
				await submitForm();
			});
			
			decrypt_button.addEventListener("click", async (e) =>{
				e.preventDefault();
				e.stopPropagation();
				encrypt.value = 0;
				decrypt_spinner.classList.remove("visually-hidden");
				encrypt_button.classList.add("disabled");
				decrypt_button.classList.add("disabled");
				await submitForm();
			});

			async function submitForm() {
				const formData = new FormData(form);
				var object = {};
				formData.forEach((value, key) => object[key] = value);
				var json = JSON.stringify(object);

				await fetch("/hill", {
					method: "POST",
					headers: {
						'Content-Type': 'application/json'
					},
					body: json
				})
				.then(res => res.json())
				.then(res => {
					console.log(res);
					decrypt_spinner.classList.add("visually-hidden");
					encrypt_spinner.classList.add("visually-hidden");
					encrypt_button.classList.remove("disabled");
					decrypt_button.classList.remove("disabled");
					
					if (res.success) {
						result_area.value = res.result;
					} else {
						alert(`Encrypt or Decrypt failed. Error: ${res.message}`);
					}

				})
			}
		</script>
	</body>
</html>
{{ end }}